.emergency_btn{
    --size: 150px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 120px;
    position: absolute;
    bottom: 75px;
    right: 75px;
}