@import url(/src/assets/styles/variables.css);

.description {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.price {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-secondary);
}

.goods_description {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.feedback {
    margin: 0;
    font-size: 0.875rem;
    color: #666;
    display: flex;
    align-items: center;
    gap: 4px;
}

.feedback svg {
    width: 15px;
    height: 15px;
}