.error_wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #FFFFFF;
    overflow: hidden;
}

.code_part, .description_part{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50vh;
}

.code_part{
    align-items: end;
    color: #83E474;
    font-size: 120px;
    
}

.code_part p{
    margin: 0;
    display: block;
    height: 119px;
    
}

.description_part{
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #83E474;
    color: #000000;
    font-size: 20px;
}

.description_part h1{
    font-weight: 400;
    font-size: 30px;
    margin-top: 33px;
}

.description_part p{
    width: 300px;
    font-size: 18px;
    margin-top: 0px;
}

.tiger_paws, .seagull_paws, .pig_paws{
    position: absolute;
}