.card_box{
    width: 350px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.main_content{
    width: 100%;
    height: 640px;
    background-color: #F9F3DF;
    border-radius: 10px;
    position: relative;
}