@import url(/src/assets/styles/variables.css);

.nav_menu{
    min-width: 250px;
    height: 100%;
    background-color: var(--nav_menu_background-color);
    border-radius: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
    overflow: hidden;
}

.nav_ul{
    background-color: var(--color-primary);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}

.nav_li{
    height: 49px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    color: var(--color-text);
    text-decoration: none;
    transition: 0.2s;
}

.nav_li:hover{
    background-color: var(--color-primary-hover);
}