.search_wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    /* max-width: 1024px; */
    margin: 0 auto;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 480px) {
    .buttons {
        flex-direction: column;
        gap: 8px;
    }
}