:root{
    --background-color: #FFC898;
}

.header{
    --side-margin: 90px;
    background-color: var(--background-color);
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 var(--side-margin); */
    padding-left: 90px;
    /* margin-bottom: 30px; */
    position: sticky;
    top: 0;
    z-index: 10;
}