.image_container{
    position: relative;
    width: calc(100% - 40px);
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.product_image{
    width: 100%;
    height: 457px;
    object-fit: cover ;  
}