.product_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 24px;

    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    padding-top: 40px;
}

.info{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}