.user_avatar{
    width: 120%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-8px, -35%);
    object-fit: cover;
}
.user_avatar_wrapper{
    --circle-width: 55px;
    width: var(--circle-width);
    height: var(--circle-width);
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    position: relative;
}