.sub_account_container{
    --background-color: #BAE3AF;
    background-color: var(--background-color);
    position: relative;
    width: 900px;
    height: 123px;
}
.sub_accounts{
    position: absolute;
    top: 22px;
    right: 151px;
    display: flex;
    width: 459px;
    height: 90px;
    justify-content: space-between;
    align-items: center;
}