*,*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Unbounded';
    src: url('../fonts/Unbounded/Unbounded-VariableFont_wght.ttf') format('truetype');
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: 'Unbounded', sans-serif;
}

p{
    font-family: 'Unbounded', sans-serif;
}