*,*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Unbounded';
    src: url('../fonts/Unbounded/Unbounded-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* для VariableFont — диапазон весов */
    font-display: swap;   /* показывает fallback-шрифт, пока грузится */
}

:root{
    font-family: 'Unbounded';
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: 'Unbounded', sans-serif;
}

p{
    font-family: 'Unbounded', sans-serif;
}