.search_container{
    width: calc(100% - 180px);
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    top: 40px;
} 

.search_container input[type="search"]{
    border: none;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    font-size: 1.3rem;
    font-family: inherit;
    font-weight: 300;
    padding-left: 20px;
    border-radius: 10px;
}

.search_container img{
    position: absolute;
    right: 6px;
}