.search_container{
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 40px;
    left: 50px;
    z-index: 10;
}

.search_container input[type="text"]{
    border: none;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    font-size: 1.3rem;
    font-family: inherit;
    font-weight: 300;
    padding-left: 20px;
}

.search_container img{
    position: absolute;
    right: 6px;
    bottom: 10px;
}