/* .in_process_container{
    background-color:#F9F3DF;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 200px;
    padding-bottom: 100px;
}

.in_process_container main{
    margin-top: 120px;
}

.text{
    position: relative;
    top: -100px;
}

.title{
    font-size: 32px;
    font-weight: 400;
}

.sub_title{
    margin-top: 10px;
}

.top_right_paws{
    position: absolute;
    top:15px;
    right: 15px;
}

.bottom_left_paws{
    position: absolute;
    bottom: 10px;
    left: -350px;
}

.bottom_right_hearts{
    position: absolute;
    bottom: 64px;
    right: 0;
}

.top_left_hearts{
    position: absolute;
    top: 60px;
    left: -96px;
} */

.in_process{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}