.search_setting_btn{
    background-color: #F9F3DF;
    color: #FFC898;
    border: none;
    outline: none;
    border-radius: 10px;
    font-family: inherit;
    height: 30px;
    font-size: 16px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin:30px;
}