.img_wrapper {
    position: relative;
    width: 100%;
    height: 300px;
    font-size: 22px;
}

.img_wrapper svg{
    position: absolute;
    right: 10px;
    top: 10px;
}

.img_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Обрезает, сохраняя пропорции */
    border-radius: 12px;
}