.icon_frame {
    --avatar_width: 70px;
    height: var(--avatar_width);
    width: var(--avatar_width);
    border-radius: 50%;
    border: 10px solid #FFC898;
    background-color: #FFC898;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    position: relative;
    overflow: hidden;
    z-index: 2;

    color: #FFF;
    font-size: 3rem;
    font-weight: 200;
    font-family: inherit;
}

.icon_image {
    height: auto;
    width: 120%;
    object-fit: cover;
    position: absolute;
}