.to_cart_button{
    display: flex;
    background-color: #83E474;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 24px;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}