:root{
    --nav_menu_background-color: #BAE3AF;
}

.nav_menu{
    width: 220px;
    height: 626px;
    border-radius: 10px;
    background-color: var(--nav_menu_background-color);
    position: fixed;
    left: 30px;
    top: 119px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.nav_ul{
    background-color: #FFFFFF;
    color:#FFC898;
    font-size: 13px;
    width: 260px;

    display: flex;
    flex-direction: column;
}

.nav_li{
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 49px;
    width: 200px;
    color: #FFC898;
    text-decoration: none;
}