.post{
    background-color: #F9F3DF;
    border-radius: 10px;
    /* min-height: 1180px;
    height: max-content; */
    width: 700px;
    margin-top: 40px;
    padding: 10px;
    padding-bottom: 25px;
}