.store_catalog{
    background-color: white;
    border-radius: 10px;
    width: calc(100% - 180px);
    height: auto;
    position: relative;
    margin-top: 70px;
    margin-bottom: 30px;
}

.cards_holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 30px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
}